* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}


button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #4800ff;
  cursor: pointer;
}

.topNav {
  position: relative;
  display: block;
  background-color: #4800ff;
  height: 65px;
  text-align: right;
}

.topNav a {
  display: inline-block;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f2f2f2;
  font-size: 20px;
  cursor: pointer;
  border-right: 1px solid #f2f2f2;
}

.topNav a:last-child{
   border: none;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(133, 140, 233) 0%,
    rgb(81, 81, 225) 59%,
    rgba(117, 134, 233, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 19px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: rgb(40, 192, 174);
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}



.login .loginContainer .logo {
  position: relative;
  width: 360px;
  right: -5%;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {

  background: white;
}

.hero nav {
  background: #4245e6;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  background: #3a2b58;
}


.headerprofile {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 30px;
  text-align: center;
  padding: 5px;
}
.content {
  width: 100%;
  padding: 10px 5px;
  font-size: 20px;
}
.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modalprofile {
  font-size: 12px;
  border: 2px solid #4245e6;
  padding: 0 200px 100px;
  border-radius: 18px;
  margin: 100px 10px 10px;
  background: white;
}
.close {
  cursor: pointer;
  position: absolute;
  display: block;
  color:#4245e6;
  right: 0;
  top: 0;
  font-size: 40px;
  background-color: transparent;
  width: 50px;
  padding: 0 10px 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profileButtons {
  margin: 10px 0 10px;
  border-radius: 18px;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  background: #4245e6;
  cursor: pointer;
}

.tui-calendar-react-root{
  height: 100% !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app_nav {
  padding: 30px;
  box-shadow: 0 1px 20px rgba(56, 40, 40, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: #fff;
}

.app_boards_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-top: 20px;
}

.app_boards {
  height: 100%;
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 30px;
}

.app_boards_last {
  flex-basis: 290px;
  min-width: 290px;
}

.app_boards_add-board {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
}
.app_boards_add-board_edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

#lnb {
  position: absolute;
  width: 15%;
  height: 650px;
  border-right: 1px solid #d5d5d5;
  padding: 12px 10px;
  background: #fafafa;
}

.lnb-new-schedule {
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.lnb-new-schedule-btn {
  height: 100%;
  font-size: 14px;
  background-color: #4245e6;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: bold;
}

.lnb-new-schedule-btn:hover {
  height: 100%;
  font-size: 14px;
  background-color: #e55b15;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: bold;
}

.lnb-footer {
  color: #999;
  font-size: 11px;
  position: absolute;
  bottom: 12px;
  padding-left: 16px;
}

#calendar {
    position: relative;
    display: block;
    width: 85%;
    float: right;
    height: 80%;
}
